<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {% for link in site.aux_links %}
    <li class="aux-nav-list-item">
      <a href="{{ link.last }}" class="site-button" {% if site.aux_links_new_tab %} target="_blank"
        rel="noopener noreferrer" {% endif %}>
        {{ link.first }}
      </a>
    </li>
    <li class="aux-nav-list-item">
      <div class="site-button">
        <button class="btn js-toggle-dark-mode">Hi</button>
        <script>
          const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

          jtd.addEvent(toggleDarkMode, 'click', function () {
            if (jtd.getTheme() === 'dark') {
              toggleDarkMode.textContent = 'Dark dark dark side';
              jtd.setTheme('dark');
            } else {
              toggleDarkMode.textContent = 'Head towards the light';
              jtd.setTheme('light');
            }
          });
        </script>
      </div>
    </li>
    {% endfor %}
  </ul>
</nav>