<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    {% for link in site.aux_links %}
    <li class="aux-nav-list-item">
      <a href="{{ link.last }}" class="site-button" {% if site.aux_links_new_tab %} target="_blank"
        rel="noopener noreferrer" {% endif %}>
        {{ link.first }}
      </a>
    </li>
    <li class="aux-nav-list-item">
      <div class="site-button">
        <button class="btn js-toggle-dark-mode">Light/Dark Mode</button>
        <script>
          window.addEventListener('load', function () {
            toggleDarkMode.click();
          }); // Forcing button to be auto-clicked on render OH IT WORKED
        </script>
        <script>
          const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');
          jtd.addEvent(toggleDarkMode, 'click', function () {
            if (jtd.getTheme() === 'dark') {
              toggleDarkMode.textContent = 'Light/Dark Mode';
              jtd.setTheme('light');
            } else {
              toggleDarkMode.textContent = 'Light/Dark Mode';
              jtd.setTheme('dark');
            }
          });
        </script>
      </div>
    </li>
    {% endfor %}
  </ul>
</nav>